PORT=5000
NODE_ENV=development
API_KEY=kunci_rahasia_pocket_mint_2026
# PostgreSQL — ubah sesuai konfigurasi lokal kamu
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/pocket_mint_db?schema=public"
NEXT_PUBLIC_SUPABASE_URL=https://clambteumrweoektkejl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hT4ZDD3xyL4zkuBbfAaC5g_Gn0QBZb9